input {
    background-color: inherit;
    border-width: 0;
    border-style: none;
}
.PresentationUsageKey {
    width: 60px;
}
.PresentationUsageValue {
    width: 10px;
}
.PresentationUsage {
    margin-left: : 10px;
    display: inline-block;
}
.attribute {
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    border-radius: 5px;
}