body{
    background-image: url(../wallpaper/grey-honeycomb-pattern-wallpapers_29965_1920x1080.jpg); 
    background-attachment:fixed;
 /*    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
}
input {
    background-color: inherit;
    border-width: 0;
    border-style: none;
}
.PresentationUsageKey {
    width: 60px;
}
.PresentationUsageValue {
    width: 20px;
}
.PresentationUsage {
    margin-left: : 10px;
    display: inline-block;
}
.attribute {
    padding: 10px;
    background-color: #eeeeee;
    margin-bottom: 10px;
    border-radius: 5px;
}

h1.panel-title{
    font-size: 40px;
}

h1.maintitle{
    font-size: 60px;
}

.DelAttribute:hover {
    color: #3276b1;
}

.DelPresentationUsage:hover {
    color: #3276b1;
}

.AddPresentationUsage:hover {
    color: #3276b1;
}

.AddPresentationUsage{
    font-size: 10px;
}

.DsLabel{
      min-width:160px;
    text-align:left;
/*    width:150px;*/
  /*  text-align: center;*/
}